.card {
     background-color: #EDF8F4;
     box-shadow: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.heading {

    text-transform: capitalize;
    font-weight: bold;
}

.FaSms {

    color: #5879BA;
    font-size: 1.3rem;
    margin-right: 0.5rem;
}

.textarea {

    height: 10rem !important;
    
    background-color: #F8F8F8;
    border-radius: 0.5rem;

}

.button {

    text-transform: capitalize;
    padding: 0.7rem 2rem;
    border-radius: 1rem;
    background-color: #4E6EB7;
    border: none;
}

.footer {

    display: flex;
    justify-content:flex-end;

}
.faupload { 

    background-color: #4E6EB7;
    padding: 0.5rem 1rem;
    border-radius: 50%;

}

.FaFile{

    color: white;
    cursor: pointer;
}


.cardBody {

    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.createBtn {

    text-transform: capitalize;
    width: 7rem;
    height: 2.3rem;
    border-radius: 2rem;
    background-color: #2FB67D;
    border: none;
}

.fauser {
    font-size: 3rem;
    color: #2FB67D;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.fauserplus {

    opacity: 0.8;                  
    color: #F0F3FC;   
    
    font-size: 6rem;
}

.createnewgroup {

    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: bold;
}


.addmember {

    background-color: #4E6EB7;
    text-transform: capitalize;
    width: 7rem;
    height: 2.3rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}

.fausermember {

    font-size: 3rem;
    color: #4E6EB7;
    position: absolute;
    top: 2rem;
    right: 2rem;
}
