.card {
    background-color: #EDF8F4;
     box-shadow: none;
}


.btn {

    background: #4E6EB7;
    width: 7rem;
    height: 3rem;
    border-radius: 35px;
    color: white;
    text-transform: uppercase;
}

.eventLabel {

    text-transform: capitalize;
    color: #cfcfd3;
}


.eventImg {

    border: 1px solid #dbdbdf;
    border-width: 0.2rem;
    border-style: dashed;
    position: relative;
    height: 9rem;

}


.eventLabelDetails {

    text-transform: capitalize;
    font-weight: 600;
}

/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
} */
