.card {
    background-color: #EDF8F4;
     box-shadow: none;
}


.btn {

    background: #4E6EB7;
    width: 7rem;
    height: 3rem;
    border-radius: 35px;
    color: white;
    text-transform: uppercase;
}


.cardHead {
    text-transform: uppercase;
    margin-left: 2rem;

}

.heading {
    width: max-content !important;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #FEF9F5;
    padding: 1.3rem 2rem;
    border-radius: 1rem;
}
