.card {
    background-color: #EDF8F4;
     box-shadow: none;
}


.btn {

    background: #4E6EB7;
    width: 7rem;
    height: 3rem;
    border-radius: 35px;
    color: white;
    text-transform: uppercase;
}


.cardHead {
    text-transform: uppercase;
    padding: 0rem 1rem;

}

.heading {

    text-transform: uppercase;
    font-weight: 600;
    background-color: #FEF9F5;
    padding: 1.3rem 2rem;
    border-radius: 1rem;
}

.cardHead1 {
    text-transform: uppercase;
    color: #4E6FB7;
    padding: 1.3rem 0rem;
    border-radius: 1rem;
    font-size: 18px;
    
}
.text1{
    padding:0rem 2rem;
    width: 45rem;
    height: 1rem;
    border-radius: 3px;
}
.text2{
    padding:0rem 2rem;
  
}
