.tpr{
    
    position: absolute;
    /* left: 63.7%;
    right: 32.34%; */
    /* top: 13.3%;
    bottom: 85.2%; */
    box-sizing: border-box;
    margin-left: 58%;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    text-transform: uppercase;
    background: #4E6FB7;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    color: #FFFFFF;
    
}
.tpr1{
    position: absolute;
/* left: 63.7%;
right: 32.34%; */
/* top: 13.3%;
bottom: 85.2%; */
box-sizing: border-box;
margin-left: 65%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */

text-transform: uppercase;
background: #4E6FB7;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 100px;
color: #FFFFFF;
}
.tpr2{
   background: #FFFFFF;
}