.loginPosition {

    position: relative;
    height: 110rem;
}
.bannerHeadAlign {

    position: absolute;
    top: 9rem;
    left: 13rem;

}
.bannerHead {

    text-transform: uppercase;
    color: white;
    font-weight: 100;
    letter-spacing: 0.3rem;
    font-weight: 500;

}

.loginCard {

    width: 70%;
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.loginHead h5 {

    text-align: center;
    text-transform: uppercase;
    color: #4866A7;
    font-weight: 700;
}

.cardText {

    text-align: center;
    color: #B7B7B7;
}

.sectionCommitee ul {

    list-style: none;
    line-height: 3;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: initial;
  }

  .sectionCommitee a {

    color: #B7B7B7;
    text-decoration: none;
    font-weight: 400;
  }

.sectionCommitee li:hover {

    background-color:orange;
  }

.greenBannerText {
    
    position: absolute;
    display: flex;
    left: 17rem;
    top: 6.5rem;
}

.greenBannerText h1 {

    text-transform: uppercase;
    color: white;
    font-size: 2.3rem;
}

.greenBannerText h5 {

    text-transform: capitalize;
    color: white;
    
}

.greenBtn {

    width: 15rem;
    height: 4rem;
    border-radius: 2rem;
    background: white;
    color: #7FA53D;
    border: none;
    text-transform: uppercase;
}
.greenBtnAlign {

    margin-left: 7rem;
}


.memberHeight {

    height: 15rem;
    margin-top: -6rem !important;
}


.orangeBanner {

    background: #DDAE24;
    border-top-left-radius: 50px;
    height: 15rem;
}
.whiteBanner {

    position: absolute;
    top: 14%;
    left: 0;
    /* transform: translate(0%,0%); */
    height: 13rem;
    width: 90% !important;
}

.greenBanner {

    background: #7FA53D;
    border-top-left-radius: 50px;
    height: 15rem;
    margin: 0rem 12rem;
}

.newCommMember {

    margin: 1.3rem 0rem 1.3rem 0.4rem;
}

.briefCommitee h6 {

    text-transform: uppercase;
    margin-top: 0.5rem;
}

.eventsOrganizes h6 {

    text-transform: uppercase;
    margin-top: 0.5rem;

}

.fontawesomeEvents {

    color: red;
}

  
  @media only screen and (min-width: 280px) and (max-width : 480px) {

    .whiteBanner {
        
        width: 90% !important;
        height: 17.3rem;
        border-top-right-radius: 25px;
    }
    .orangeBanner {

        height: 20rem;
        border-top-left-radius: 40px;
    }

    .memberHeight {
        
        height: 20rem;
        margin-top: -4rem;
    }

    .loginCard {


        width: 100%;
        top:515%;
    }

    .loginForgot  {

        display: block !important;
    }

    .memberHeight {

        margin-top: 0rem !important;
    }
    
    .bannerHeadAlign {

        
        top: 4rem;
        left: 1rem;
    
    }
    .bannerHead {
    
        font-size: 0.8rem !important;
        letter-spacing: 0.1rem;    
    }
    
    .greenBanner {
          
        margin: 0rem 2rem !important;     
    }

    .greenBannerText {
    
       display: block;
        left: 4rem;
        top: 1.5rem;
    }

    .greenBannerText h1 {

        font-size: 1.3rem;
    }
       
    .greenBtnAlign {

        margin: 2rem 0rem 0rem 0rem;
    }


    .loginPosition {

        height: 215rem;
    }
  }





